.tabs {
  width: 100%;

  &__menu {

  }

  &__link {
    position: relative;
    display: none;
    padding: 30px;
    color: $color-gray-500;
    text-decoration: none;
    transition: color .3s ease;

    @include MQasc(sm) {
      display: inline-block;
    }

    &:hover,
    &_active {
      color: $color-primary;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      background-color: $color-gray-200;
      border-top-left-radius: $radius-primary;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 20%;
      background-color: $color-gray-200;
      transform: skew(25deg);
      box-shadow: 2px 2px 2px black(.1);
      border-top-right-radius: $radius-primary;
    }

    &:not(:first-child) {
      margin-left: -16px;
    }

    &_active {
      z-index: 2;

      &::before {
        background-color: #fff;
      }
      &::after {
        background-color: #fff;
      }
    }
  }

  &__link-text {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &__link-adaptive {
    position: relative;
    display: block;
    margin-top: -1px;
    padding: 16px 44px 16px 24px;
    color: $color-gray-500;
    border-top: 1px solid $color-gray-100;
    border-bottom: 1px solid $color-gray-100;
    text-decoration: none;

    @include MQasc(sm) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      margin-top: -3px;
      border: solid $color-gray-500;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }

    &:hover,
    &_active {
      color: $color-primary;

      &::after {
        border-color: $color-primary;
      }
    }

    &_active {
      &::after {
        transform: rotate(-135deg);
      }
    }
  }

  &__content {
    background-color: #fff;

    @include MQasc(sm) {
      position: relative;
      z-index: 3;
      padding: 30px;
      border-radius: 0 $radius-primary $radius-primary $radius-primary;
    }
  }

  &__item {
    display: none;
    padding: 24px 16px;

    @include MQasc(sm) {
      padding: 0;
    }

    &_active {
      display: block;
    }
  }
}