// colors
$color-primary: #212bff;
$color-primary-hover: #2029ea;
$color-primary-pressed: #1e26d8;

$color-danger: #ff1e38;

$color-gray-50: #f6f6f6;
$color-gray-100: #dadef0;
$color-gray-200: #edeeef;
$color-gray-300: #c3c9db;
$color-gray-400: #b8bed8;
$color-gray-500: #8288a2;

// fonts
$font-primary: 'Montserrat', Arial, sans-serif;

// radius
$radius-primary: 8px;
$radius-pill: 1000px;
$radius-round: 100%;

// breakpoints
$S: 768px;
$M: 992px;
$L: 1200px;